body
	{
		background:url(images/image_MENU/background.png);
		background-repeat:repeat;
	}

.cacmien
		{
			
			padding:10px 0px 0px 0px;
			margin:0px;
		}

.cacmien a
			{
				text-decoration:none;
				color:#FFFFFF;
			}
.cacmien ul
		{margin-left:0px;
		padding-left:5px;}
.cacmien a:hover
				{
					font-size:17px; color:#00FF00;
				}
#bao_khungHot
			{
				margin:5px 0px 0px 2px; width:200px;
			}

.KhungHot
	{
		background-image:url(hinhanh_khung/khung_tinhot1/giua_tinhot.png); width:190px; height:100px;
		background-repeat:repeat-y;
		color:#FFFFFF; 
		padding:5px 5px 0px 5px;
	}
.KhungHot a
		{
			text-decoration:none;
				color:#FFFFFF;
		}
.KhungHot a:hover
				{
				 color:#00FF00;
				}
#Khung_Quanngon
				{
				margin:5px 0px 0px 2px;
				width:200px;
				}

.Vien_QuanNgon
	{
		background-image:url(hinhanh_khung/khung_quanngon/giua_quanngon.png); width:190px;
		background-repeat:repeat-y;
		color:#FFFFFF; 
		padding:5px 5px 0px 5px;
	}
.Vien_QuanNgon a
		{
			text-decoration:none;
				color:#FFFFFF;
		}
.Vien_QuanNgon a:hover
				{
				 color:#00FF00;
				}
.hinh_QuanNgon
				{
					margin:0px ;
					padding:0px 20px 0px 0px;
				}
.thongke
		{
			margin:5px 0px 0px 2px;
			width:200px;
		}
.thongke2
		{
			background-image:url(hinhanh_khung/thongke/giua_thongke.png); background-repeat:repeat-y; width:190;
			color:#FFFFFF; padding:5px 5px 0px 5px;
		}
#khung_MonAn
			{
				margin:25px 0px 0px 5px; width:496px;
			}
#vien_MonAn
			{
				background-image:url(hinhanh_khung/khung_monmoi/giua_monan.png); width:496px;
				background-repeat:repeat-y;
				color:#FFFFFF; 
				padding:5px 5px 0px 5px;
			}
.tomtat_Monan
				{
					margin:0px ;
					padding:0px 20px 0px 0px;
				}
.tomtat_Monan a
		{
			text-decoration:none;
				color:#FFFFFF;
		}
.tomtat_Monan a:hover
				{
				 color:#00FF00;
				}
#khung_tim{ margin:0px; padding:0px; width:190px;}
#vien_timkiem
		{
			background-image:url(hinhanh_khung/image_search/3.png); width:180px;
				background-repeat:repeat-y;
				color:#FFFFFF; 
				padding:5px 5px 0px 5px; 
		}
#Khung_binhchon
			{
				margin:5px 0px 0px 0px; padding:0px; width:190px;
			}
.vien_binhchon
			{
				background-image:url(hinhanh_khung/binhchon/giua_binhchon.png); width:180px;
				background-repeat:repeat-y;
				color:#FFFFFF; 
				padding:5px 5px 0px 5px;
			}
.vien_binhchon a
		{
			text-decoration:none;
				color:#FFFFFF;
		}
ul
	{
		list-style:none;
	}
li
	{
		display:inline;
	}


.menuchan{	 height:50px;
			padding:0px; margin:0px;
		 }
.menuchan a { text-decoration:none; color:#FFFFFF; font-size:19px;}
.menuchan a:hover { text-decoration:underline; font-size:23px; color:#FF0000;}
#quangcao
		{
			margin:0px;
			padding:0px;
			white-space:100%;
			height:100%;
		}
.monmoi
	{
				background-image:url(hinhanh_khung/thanhvien/giua_thanhvien.png); width:180px; height:125px;
				background-repeat:repeat-y;
				color:#FFFFFF; 
				padding:5px 5px 0px 5px;
			
	}
